.loadingPanel 
{
    position: fixed;
    left:0;
    top:0;
    right:0;
    bottom:0;
    z-index:9999;
    display: none;
}

.loadingPanel .background 
{
    background: rgba(0,0,0, 0.5);
    position: absolute;
    height:100%;
    width:100%;
    z-index:-1;
}

.loadingPanel .content 
{
    background: #fff;    
    width:200px;
    margin:20% auto;
    padding:20px;
    text-align:center;
    z-index:99999;
}